#board {
  position: relative;

  width: 770px;
  height: 770px;
}
#spaces, #operations {
  position: absolute;
  top: 0;
  left: 0;

  width: 770px;
  height: 770px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
}
#operations {
  pointer-events: none;
}
.space {
  // border: solid 1px blue;
  background-color: #ADD8E6;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.space.playable {
  background-color: #90D5FF;
}

.space svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.operation-move {
  z-index: 2;
}

#space-c1 {
  border-top: solid 1px green;
  border-left: solid 1px green;
  grid-row: 3;
  grid-column: 3;
}
#space-c2 {
  border-top: solid 1px green;
  grid-row: 3;
  grid-column: 4;
}
#space-c3 {
  border-top: solid 1px green;
  border-right: solid 1px green;
  grid-row: 3;
  grid-column: 5;
}
#space-c4 {
  border-left: solid 1px green;
  grid-row: 4;
  grid-column: 3;
}
#space-c5 {
  grid-row: 4;
  grid-column: 4;
}
#space-c6 {
  border-right: solid 1px green;
  grid-row: 4;
  grid-column: 5;
}
#space-c7 {
  border-left: solid 1px green;
  border-bottom: solid 1px green;
  grid-row: 5;
  grid-column: 3;
}
#space-c8 {
  border-bottom: solid 1px green;
  grid-row: 5;
  grid-column: 4;
}
#space-c9 {
  border-bottom: solid 1px green;
  border-right: solid 1px green;
  grid-row: 5;
  grid-column: 5;
}

#space-n1 {
  grid-row: 1;
  grid-column: 3;
}
#space-n2 {
  grid-row: 1;
  grid-column: 4;
}
#space-n3 {
  grid-row: 1;
  grid-column: 5;
}
#space-n4 {
  grid-row: 2;
  grid-column: 3;
}
#space-n5 {
  grid-row: 2;
  grid-column: 4;
}
#space-n6 {
  grid-row: 2;
  grid-column: 5;
}

#space-ne {
  grid-row: 2;
  grid-column: 6;
}

#space-e1 {
  grid-row: 3;
  grid-column: 6;
}
#space-e2 {
  grid-row: 3;
  grid-column: 7;
}
#space-e3 {
  grid-row: 4;
  grid-column: 6;
}
#space-e4 {
  grid-row: 4;
  grid-column: 7;
}
#space-e5 {
  grid-row: 5;
  grid-column: 6;
}
#space-e6 {
  grid-row: 5;
  grid-column: 7;
}

#space-se {
  grid-row: 6;
  grid-column: 6;
}

#space-s1 {
  grid-row: 6;
  grid-column: 3;
}
#space-s2 {
  grid-row: 6;
  grid-column: 4;
}
#space-s3 {
  grid-row: 6;
  grid-column: 5;
}
#space-s4 {
  grid-row: 7;
  grid-column: 3;
}
#space-s5 {
  grid-row: 7;
  grid-column: 4;
}
#space-s6 {
  grid-row: 7;
  grid-column: 5;
}

#space-sw {
  grid-row: 6;
  grid-column: 2;
}

#space-w1 {
  grid-row: 3;
  grid-column: 1;
}
#space-w2 {
  grid-row: 3;
  grid-column: 2;
}
#space-w3 {
  grid-row: 4;
  grid-column: 1;
}
#space-w4 {
  grid-row: 4;
  grid-column: 2;
}
#space-w5 {
  grid-row: 5;
  grid-column: 1;
}
#space-w6 {
  grid-row: 5;
  grid-column: 2;
}

#space-nw {
  grid-row: 2;
  grid-column: 2;
}
