main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

#console-dev { display: none; }
#console-prod { display: block; }

#error {
  color: red;
}

#rules summary {
  cursor: pointer;
}

#pgn-wrapper {
  position: relative;
}
#pgn {
  background-color: lightgrey;
  padding: 3px;
}
#copy-to-clipboard {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 5px;
  margin-right: 10px;

  font-size: 20px;
  cursor: pointer;

  display: none;
}

.player-hand {
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
}

.player-hand span {
  align-self: flex-start;
}

.player-hand button {
  align-self: flex-end;
}
