header {
  display: flex;
  background-color: #ddbddd;
  justify-content: space-evenly;
  padding: 3px 0;
  margin-bottom: 3px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#console {
  width: 600px;
  max-width: 770px;
  margin: 0 auto;
}

#error {
  color: red;
}

#rules summary {
  cursor: pointer;
}
#rules ul {
  margin: 0;
  padding-left: 13px;
  margin-bottom: 1em;
}

#pgn-wrapper {
  position: relative;
}
#history {
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
#history li {
  font-family: monospace;
}
#history li:hover {
  background-color: lightgrey;
  cursor: ns-resize;
}
#pgn {
  background-color: lightgrey;
  padding: 3px;
}
#copy-to-clipboard {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 5px;
  margin-right: 10px;

  font-size: 20px;
  cursor: pointer;

  display: none;
}

aside {
  align-self: flex-end;
  display: none;
}
