.bgcolor-Am {
  background-color: #FFBF00;
}
.tile.bgcolor-In, .tile.bgcolor-In::after {
  border-color: white;
}
.bgcolor-In {
  background-color: #4B0082;
  color: white;
}
.bgcolor-Sa {
  background-color: #B2AC88;
}
.tile.bgcolor-Te, .tile.bgcolor-Te::after {
  border-color: white;
}
.bgcolor-Te {
  background-color: #008080;
  color: white;
}

.player-hand.cannot-play {
  pointer-events: none;
  opacity: 0.5;
}
.player-hand button.chosen {
  background-color: tomato;
}

.player-hand span {
  white-space: nowrap;
}

#player-add {
  display: flex;
}
