.bgcolor-Am {
  background-color: #FFBF00;
}
.tile.bgcolor-In, .tile.bgcolor-In::after {
  border-color: white;
}
.bgcolor-In {
  background-color: #4B0082;
  color: white;
}
.bgcolor-Sa {
  background-color: #B2AC88;
}
.tile.bgcolor-Te, .tile.bgcolor-Te::after {
  border-color: white;
}
.bgcolor-Te {
  background-color: #008080;
  color: white;
}

.player-hand {
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
}

.player-hand span {
  align-self: flex-start;
  white-space: nowrap;

  padding-left: 3px;
  padding-right: 3px;
}

.player-hand button {
  align-self: flex-end;
}
.player-hand button.chosen {
  background-color: tomato;
}
.player-hand.cannot-play button:not(.player-leave) {
  pointer-events: none;
  opacity: 0.5;
}

#player-add {
  display: flex;
}
#player-add.disabled {
  pointer-events: none;
  opacity: 0.5;
}
