.bgcolor-Am {
  background-color: #FFBF00;
}
.tile.bgcolor-In, .tile.bgcolor-In::after {
  border-color: white;
}
.bgcolor-In {
  background-color: #4B0082;
  color: white;
}
.bgcolor-Sa {
  background-color: #B2AC88;
}
.tile.bgcolor-Te, .tile.bgcolor-Te::after {
  border-color: white;
}
.bgcolor-Te {
  background-color: #008080;
  color: white;
}

.player-hand {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.player-hand .label {
  align-self: flex-start;
  white-space: nowrap;

  padding-left: 1px;
  overflow: hidden;
}
.player-hand .label button {
  margin-right: 3px;
}

.player-hand .tile-list {
  align-self: flex-end;

  display: flex;
  justify-content: space-evenly;
  gap: 3px;
}
.player-hand button.chosen {
  background-color: tomato;
}
.player-hand.cannot-play .tile-list button {
  pointer-events: none;
  opacity: 0.5;
}

#player-add {
  display: flex;
}
#player-add.disabled {
  pointer-events: none;
  opacity: 0.5;
}
